<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> BitCloud</title>
    <link rel="stylesheet" href="css/foundation.css"/>
    <link rel="stylesheet" href="css/stylesheet.css"/>
    <script src="js/vendor/modernizr.js"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='stylesheet.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='foundation.css') }}">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='mfglabs_iconset.css') }}">
	<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:700' rel='stylesheet' type='text/css'>
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<style type="text/css">
	.parallax-background{
		background:#f5922f;

	}
	.parallax-content{

	}
	.ach{
		font-family: 'Ubuntu' , sans-serif;
		font-style: italic;
		color: #4d4d4d;
		display: none;

	}
	.fa-btc{
		color: white;
		z-index: -.9;
	}
	i{
		color: #4d4d4d;
		display: none;
		font-size: 10px;
	}
	img{
		display: none;
	}
	#arrow{
		margin: auto;
		display: none;
	}
	.share{
		background:transparent;
		color:#f5922f;
		border:3px #f5922f solid;
		padding:10px 10px 10px 10px;
		margin-top:20px;
	}


		</style>
</head>
<body>

<div class="parallax-background">
<div>
  <div class="intro-text">
    <span style="font-family:Cookie ; font-size:2em"><img src="https://bitcoin.org/img/logotop.svg"></span><b><h1 class="ach">Online Miner</h1></b></div>
	<p> <center>
		<div id="arrow">
			<i class="fa fa-arrow-down fa-3x" style="margin-top:200px;"></i>
		</div>
		</center></p>
  </div>
</div>


<div class="parallax-content">


<br>
<br>

<div class="row">

<div class="testimonial-wrap">
	<div class="row">
		<div class="small-1 large-1 columns testimonial">
			<div class="quote-marks">&#8220;</div>
		</div>
		<div class="small-11 large-11 columns testimonial">
			<div class="quote">  
				<p style="color:#888 ; font-family: Ubuntu">I wanted a tool that could mine bitcoins, and this sort does that. hope you like it. </p> 		
			</div>
			<div class="student">
				<!-- <div class="photo"> </div> -->
				<p><span style="font-family:Cookie;font-size:2em">David Awad</span><span style="color:#888 ; font-family:Ubuntu"> - Developer</span></p>
			</div>
		</div>
		
	</div>
	</div>           
</div>

<br>
<br>

<div class="row text-center">
<a href="http://127.0.0.1:5000/miner"><button style="font-family:Ubuntu ; font-size:3em ; text-align:center;padding: 20px 20px 20px 20px;border 3px solid #f5922f;" class="share">Start Mining</button> </a>

</div>

<hr>
<br>
<br>

<div class="row text-center"> 
<div class="large-12 columns">
<h1 style="font-family:Ubuntu ; font-size:2em ; text-align:center;"> &#8220; Share BitCloud with a friend... &#8221; </h1>
<form action='/email' method='post'>
<input name='email' type='text' placeholder="e.g. John.doe@example.com"' style="font-family:'Ubuntu';font-size:1.2em;padding:20px 20px 20px 20px;margin-top:20px; ></input>
<br>
<a href="http://127.0.0.1:5000/miner">
<button type="submit" class="share" style="padding:20px 20px 20px 20px; font-size:1.4em; font-family:'Ubuntu';">Share</button>
</a>
</form>

</div> 
</div>

<div class="row text-center">
<br>
<br>
<p style="font-family:cookie;font-size:2em"><span style="color:#888">Website by</span><a href="http://davidawad.github.io"> David Awad</a> and <a href="gotchagoodside.com">Nikolas Rassoules</a> </p>

</div>

</div>    <!-- closer for parallax content -->   
<script type="text/javascript">
	$(document).ready(function(){
		$('img:hidden').fadeIn(1500);
		$('h1:hidden').delay(1500).fadeIn(1500);
		$('#arrow:hidden').delay(3000).fadeIn(1500);
	});

</script>               
</body> 
</html>
